# ========================
# SYSTEM OPERACYJNY
# ========================

# Windows
Thumbs.db
desktop.ini

# Mac
.DS_Store
.AppleDouble

# Linux
*~

# ========================
# DBEAVER
# ========================
.dbeaver/
*.dbs

# ========================
# BAZY DANYCH
# ========================
*.db
*.sqlite
*.sqlite3

# ========================
# DUŻE PLIKI DANYCH
# ========================
data/raw/

# ========================
# EDYTORY
# ========================
.vscode/
.idea/

# ========================
# INNE
# ========================
*.log
.env